body {
    font-family: 'Quicksand', sans-serif;
    color: #efefef;
    background-color: #1d1f21;
}

.nav {
	height: 100px;
    width: 100%;
	padding: 0px;
	border: none;
    position: fixed;
    top: 0;
    left: 0;
    background-color: #1d1f21;
}

.logo {
    float: left;
    display: inline-block;
    padding-top: 16px;
    padding-right: 5px;
    padding-left: 12px;
    margin: none;
}

.logo-text {
    display: inline-block;
}

.logo-text h6{
    font-family: 'Quicksand', sans-serif;
    color: #efefef;
    font-size: 72px;
    font-weight: 400;
}

.list-toggle {
	color:	white;
	font-family: 'Quicksand', sans-serif;
}

.nav form {
    float: right;
    display: inline-flex;
    padding: 65px 15px 0px 0px;
}

table {
    margin: auto;
    text-align: center;
    padding-top: 20px;
    border-collapse: collapse;
    margin-top: 10px;
}

th {
    font-size: 90%;
    font-family: 'Quicksand', sans-serif;
    color: #efefef;
    text-transform: uppercase;
    padding-top: 3px;
    padding-bottom: 3px;
    padding-left: 15px;
    padding-right: 15px;
    border-bottom: 2px solid #999;
    border-top: 1px solid #c3e6e5;
}

td {
    padding-top: 3px;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 3px;
}

.even {
    background-color: #333333;
}

#total {
    font-weight: 700;
}