body {
    background-color: #1d1f21;
}

th {
	font-family: Helvetica, sans-serif;
	font-weight: bold;
	font-size: 72px;
	color: #eeeeee
}

.nav {
	height: 100px;
	border-radius: 10px;
	margin: 0px;
	padding: 0px;
	border: none;
}

.nav img {
	margin: 0px;
	padding: 12px 0px 0px 10px;
	border: none;
}

.nav h6 {
    font-family: 'Quicksand', sans-serif;
    color: #efefef;
    font-size: 72px;
    font-weight: 400;
    display: inline;
}

.nav p {
	color:	white;
	font-family: 'Quicksand', sans-serif;
	float: right;
}

table {
    margin: auto;
}

